extends layout

block content
  
  h1(id="header", style="padding-top: 50px; padding-bottom: 75px;") Babe Inventory 

  button.scan(href="/scan", style="font-size: 80px;") 
   a(href="/scan") SCAN

  h1(style="padding-top:30px; padding-bottom: 30px") OR

  button.searchInv(href="/search", style="font-size: 80px;") 
   a(href="/search") Search &#128269;