extends layout

block content
 h1(style="text-align:center; padding-top:100px;") Woops that UPC didnt exist
 h3=message
 h3(style="text-align:center; padding-top:30px; padding-bottom:75px;") Please add it to the database before giving it a location

 button.scan(href="/scan") 
  a(href="/scan") SCAN

 h3(style="text-align:center; padding-top:30px; padding-bottom:75px;") However if you were Adding Inventory to the database then the UPC you entered already exists
 button.searchInv(href="/search") 
  a(href="/search") Search &#128269;