extends layout

block content
  
  h1(id="header", style="padding-top: 75px;") Add UPC to Inventory

  h5(style="color: red; padding-bottom:10px;")=successmessage

  div(style="width:700px; margin:0 auto")
   h2(style="color:black;") Notes for uploading a new UPC:
   h5(style="text-align:left; color:black;") 1.  Description must contain all 3 Periods EX: 22.ICURLY.3R.
   h5(style="text-align:left; color:black;") 2.  The upc must be unassigned (While you can add a upc that already exists....try to make sure they are not in the system)
   h5(style="text-align:left; color:black;") 3.  Use .csv file type......you can download the correct template below
   h5(style="text-align:left; color:black;") 4.  On .csv, make sure blank fields are cleared (This will slow down the import porcess if there are unneccessary blank rows)
   h5(style="text-align:left; color:black;") 4.  Name the .csv file with a date so that you can identify it for reference

   h5(id="header", style="padding-top: 25px; color:red; font-weight: 700;") DOWNLOAD UPC UPLOAD TEMPLATE BELOW
   a(href='/uploads/locations.csv').btn.invSub Download Me!






  
  .submit-content
   form.proposal-form.br(method="POST", action="/excel", name="excel", enctype='multipart/form-data' style="padding: 2px 24px 20px;")
    h2.sub(id="header", style="margin: 10px 0 0;") Upload Upcs
    input(type='file', name='excel', required)
    input.btn.invSub(type='submit', value='Upload')

  h5(style="text-align:center; color:black; padding-top: 70px;") Previously uploaded sheets
  ol(style="width:300px; margin:0 auto; padding-bottom: 70px;")
   for file in files
    li(style="font-size: 20px; color: black;")
     a(href="/uploads/#{file}" style="font-size: 20px;")= file


  script.
   $(document).ready(function() {
    $('input[name=upc]').focus();
    
    $('.quan').keypress(function (e){
         if(e.which == 13){
         $('.invSub').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
    });