/*web fonts*/
@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
   }

/* Base Styles -------------------- */

body {
  color: #B1B9C1;
  font-size: 1em;
  font-weight: 200;
  font-family: 'Roboto', Helvetica, Arial, serif;
  width: 100%;
  text-align: center;
}

a {
  color: #5FB6E1;
  text-decoration: none;
}

a:hover {
  color: #53A4C4;
  text-decoration: none;
}

p {
  margin-bottom: 40px;
}
h1, h2 {
  font-weight: 400;
  width: 100%;
}

h2 {
  font-size: 42px;
  color: #465058;
  margin: 40px 0 0;
}
h3 {
  font-weight: 400;
  font-size: 24px;
  margin: 40px 0 0;
  color: #465058;
}
h4 {
  font-weight: 200;
  font-size: 24px;
  margin: 10px 0 0;
}
h5 {
  font-weight: 300;
  font-size: 20px;
  margin: 10px 0 40px;
}
img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul{
  margin: 30px 0;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

/* Main Styles ******************************--------------------- */

/*NAV-BAR STYLES*/
.nav-row{
  max-width: 1480px;
  margin: 0 auto;
  padding: 0;
}

.grid-left {
  width: 30%;
  float: left;
}
.grid-right {
  width: 70%;
  float: left;
}

.desc{
  line-height: 60px;
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: block;
}

a.desc:hover {
  text-decoration: none;
}

nav{
  float: right;
  font-size: 20px;
  font-color: black;
}

nav a {
  transition: .35s linear;
  padding: 0 15px;
  font-weight: 500;
  line-height: 60px;
  color: #B1B9C1;
  text-align: right;
}
nav a:last-child {
  padding-right: 35px;
}
nav a:hover {
  color: #333;
  text-decoration: none;
}

/*TABLE*/


/*SUBMIT FORM FORM STYLINGS*************/

label {
  display: block;
  margin-bottom: 0.5em;
  float: left; 
  padding-left: 5px;
}

input,
textarea {
  font-size: 30px;
  color: #222;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.br{
  border-radius: .5em;
}

.proposal-form {
  padding: 2px 24px 10px;
  background: #D0D0D0;
}

.submit-content {
  max-width: 500px;
  margin: 10px auto;
  padding-top: 60px;
  padding-bottom: 30px;
}
h1.sub{
  padding-top: -30px;
}

.btn {
  cursor: pointer;
  font-size: 38px;
  font-weight: 400;
  color:white;
  background-color: #52bab3;
  text-transform: uppercase;
  text-align:center;

}

.btn:hover {
  opacity: .65;
}

.scan {
  background: #00497a;
  background-image: -webkit-linear-gradient(top, #00497a, #2980b9);
  background-image: -moz-linear-gradient(top, #00497a, #2980b9);
  background-image: -ms-linear-gradient(top, #00497a, #2980b9);
  background-image: -o-linear-gradient(top, #00497a, #2980b9);
  background-image: linear-gradient(to bottom, #00497a, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 70px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.scan:hover {
  opacity: .65;
}

.searchInv {
  background: #00497a;
  background-image: -webkit-linear-gradient(top, #00497a, #2980b9);
  background-image: -moz-linear-gradient(top, #00497a, #2980b9);
  background-image: -ms-linear-gradient(top, #00497a, #2980b9);
  background-image: -o-linear-gradient(top, #00497a, #2980b9);
  background-image: linear-gradient(to bottom, #00497a, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 70px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.searchInv:hover {
  opacity: .65;
}


/***************FOOTER**********************************************/
footer {
  margin: 80px 0 0; 
  float: left;
  width: 100%;
  background-color: #f4f4f4;
  padding-top: 5px;
}


.grid-full {
  width: 100%;
  float: left;
}




.textstyle{
  width: 500px;
}

/*LOGIN PAGE*********************/
.login{
  max-width: 500px;
  margin: 0 auto;
  padding-top: 200px;
}

.login-form{
  padding: 2px 24px 10px;
  background: #D0D0D0;
}

/*THANKYOU PAGE*****************/


/*EDIT FORM*/
.edit{
  max-width: 500px;
  margin: 0 auto;
  padding-top: 70px;
}

.edit-form{
  padding: 1px 24px 10px;
  background: #D0D0D0;
}
/*Proposal LIST*/
.proposals{
  max-width: 600px;
  margin: 0 auto;
  padding-top: 120px;
}
li.post-list-design{
  margin-bottom: 15px;
}

.post-list-design{
  background-color: #D0D0D0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-list{
  margin: 15px;
}

a.list:hover {
  text-decoration: none;
}


/*Thankyou page*/
.thankyou{
  padding-top: 250px;
  /*font-weight: 400;*/
}


/*New form attempt*/
.form-style-9{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style-9 ul li  .field-style{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 49%;
}
.form-style-9 ul li .field-full{
    width: 100%;
}
.form-style-9 ul li input.align-left{
    float:left;
}
.form-style-9 ul li input.align-right{
    float:right;
}
.form-style-9 ul li textarea{
    width: 100%;
    height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

.scanner {

  font-size: 13px;
  padding:0px; 
  margin:0px; 
  text-align: center; 
  height:50px;
}

input[type="checkbox"], 
input[type="radio"],
input.radio,
input.checkbox {
    vertical-align:text-top;
    width:16px;
    height:16px;
    padding:0;
    margin:0;
    position:relative;
    overflow:hidden;
    
}

